= semantic_form_for @tag do |f|
  = f.inputs do
    =f.input :label, :required=>true
    = f.input :teaser, :required=>false, :input_html => { :size => 80 }
    = f.input :writeup, :required=>false
    =f.input :tag_context, :required=>true
    =f.buttons

