= semantic_form_for @tag do |f|
  = f.inputs do
    =f.input :label, :required=>true
    = f.input :teaser, :input_html => { :size => 80 }
    = f.input :writeup, :input_html => { :class => 'autogrow', :rows => 10, :cols => 20, :maxlength => 10  }
    =f.input :tag_context, :required=>true
    =f.buttons

