.new_suggestion {
	background: none repeat scroll 0 0 #FFFFFF;
	border: none;
	color: #000000;
	font-family: Arial, sans-serif;
	margin-left: 0;
	padding: 10px;
	width: 280px;
}
.new_suggestion .pencil_icon {
	float: left;
	margin: 0 10px 0 0;
}
.new_suggestion h1 {
	font-size: 22px;
	margin: 5px 0 0 0;
}
.new_suggestion h2 {
	font-size: 14px;
	line-height: 16px;
}
.new_suggestion p {
	font-size: 9px;
}
.new_suggestion form {
	border-top: 3px dotted #000000;
	padding: 10px 0;
}
.new_suggestion form.formtastic li.input label {
	background: none;
	border-radius: 0;
	color: #000000;
	float: left;
	font-weight: normal;
	margin: 0 10px 0 0;
	text-align: right;
	text-shadow: none;
	width: 70px;
}
.new_suggestion form.formtastic input[type="text"],
.new_suggestion form.formtastic input[type="url"],
.new_suggestion form.formtastic input[type="email"],
.new_suggestion form.formtastic li.text textarea {
	border-radius: 0;
	width: 185px;
}
.new_suggestion form.formtastic fieldset.buttons {
	padding: 0 0 0 90px;
}
.new_suggestion form.formtastic li.commit.button input.create {
	background: url('/assets/button_submit_now.png');
	border: medium none;
	height: 31px;
	overflow: hidden;
	text-indent: 5000px;
	width: 170px;
}